.params-description {
    display: flex;
    justify-content: space-between;
}

.params-description p {
    font-size: 1.6rem;
}

.params-description strong {
    font-size: 2rem;
    color:#8fbc8f;
}

.params-slider {
    margin: 16px 0;
}

.params-slider input {
    width: 100%;
    cursor: pointer;
}

.params-slider small, .params-checkbox small {
    color: yellow;
    font-size: 1.6rem;
}

.params-checkbox div {
    text-align: left;
    margin: 12px auto;
    font-size: 1.6rem;
}

.params-checkbox div input {
    cursor: pointer;
}


.params-footer {
    margin: 16px 0;
   
}

.params-footer button {
    width: 100%;
    padding: 16px;

    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Saira Condensed', sans-serif;

    color: black;
    background-color:darkseagreen;

    border: 1px solid #8fbc8f;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.params-footer button:hover {
    background-color:rgb(78, 111, 78);

    border: 1px solid rgb(78, 111, 78);
}

.params-footer button img {
    margin-left: 10px;
}