section {
  display: flex;
  justify-content: space-between;

  height: 68px;
  max-height: 68px;
}

section:hover {
  background-color: #343333;
}

section p {
  color: white;
  font-size: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 250px;
}

section img {
  cursor: pointer;
}

section aside p {
  color: orange;
  font-size: 1rem;
}

@media (min-width: 768px) {
  section p {
    max-width: 350px;
  }
}